button a
                                            {
                                                display:inline-block;
                                                width:10px;
                                            }
                                            #green
                                            {
                                           

                                            
                                            padding:15px;
                                            border-radius:50px;
                                            background-color:green;
                                            border:none;
                                            }
                                             #red
                                            {
                                                
                                            padding:15px;
                                            border-radius:50px;
                                            background-color:red;
                                            border:none;
                                            }
 
  
        
