@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
}

textarea{
    border: none;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px; 
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

h2{
    text-align: center;
}

p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button, .btns{
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.2s ease-in;
    cursor: pointer;
}
.btns:hover{
    transform:scale(0.95);
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}


.container-small{
    margin: 0 auto;
	background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
            0 10px 10px rgba(0,0,0,0.22);
    width: 960px;
    max-width: 100%;
}

.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
    margin: 50px 0;
}

.col-2{
    flex-basis: 50%;
    padding: 0 10px;
    min-height: 520px;
    /*margin: 50px 0;*/
}

.overlay{
    padding-top: 40%;
}
.title {
  font-size: 2.1rem;
  color: #444;
  margin-bottom: 10px;
  margin-top: 5%;
}
.overlay .title{
    color: #fff;
}
.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 35px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 35px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input, .input-field select{
  background: none;
  outline: none;
  border: none;
  line-height: 0.8;
  font-weight: 300;
  font-size: 1.1rem;
  color: #333;
}

.input-field select{
    font-size: 15px;
    font-weight: 200;
    
}
textarea{
    background-color:#F0F0F0;
    resize: none;
}
.input-field select p{
    color: #333;
}
.input-field input::placeholder {
  color: #aaa;
  font-weight: 300;
}

.background {
    background: linear-gradient(#FF416C, #FF4B2B);
    color: #FFFFFF;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    
}



/*---- media query less than 600 screen size----*/

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }

    .col-2{
        flex-basis: 100%;
    }
}
